In [28]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

# California Housing dataset

In [42]:
# Fetch the dataset as a DataFrame
california_housing = fetch_california_housing(as_frame=True)
df_1 = california_housing.frame 

display(df_1)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [13]:
# dataset description
print(california_housing.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

:Number of Instances: 20640

:Number of Attributes: 8 numeric, predictive attributes and the target

:Attribute Information:
    - MedInc        median income in block group
    - HouseAge      median house age in block group
    - AveRooms      average number of rooms per household
    - AveBedrms     average number of bedrooms per household
    - Population    block group population
    - AveOccup      average number of household members
    - Latitude      block group latitude
    - Longitude     block group longitude

:Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. rubric:: References

- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
  Statistics and Probability Letters, 33 (1997) 291-297

# Real State dataset

In [40]:
df_2 = pd.read_csv('../data/raw/RealEstateDataset.csv', delimiter=';')

display(df_2)

,name_nsi,price,index,environment,quality_of_living,safety,transport,services,relax,condition,...,last_reconstruction,total_floors,floor,lift,balkonies,loggia,cellar,type,rooms,district
0,Semerovo,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Original condition,...,NaN,NaN,NaN,0,NaN,NaN,0,3-room apartment,3,Nové Zámky
1,Semerovo,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Original condition,...,NaN,2.0,NaN,0,NaN,NaN,0,3-room apartment,3,Nové Zámky
2,Štúrovo,107000,"8,3",NaN,NaN,NaN,NaN,NaN,NaN,Partial reconstruction,...,NaN,5.0,3.0,0,NaN,NaN,0,1-room apartment,1,Nové Zámky
3,Štúrovo,105000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete reconstruction,...,NaN,7.0,4.0,1,NaN,NaN,0,3-room apartment,3,Nové Zámky
4,Štúrovo,82000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Partial reconstruction,...,2018.0,NaN,2.0,0,NaN,NaN,0,2-room apartment,2,Nové Zámky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15398,Vranov nad Topľou,118990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Original condition,...,NaN,8.0,6.0,1,NaN,1.0,0,4-room apartment,4,Vranov nad Topľou
15399,Vranov nad Topľou,117650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete reconstruction,...,NaN,8.0,1.0,1,NaN,NaN,0,3-room apartment,3,Vranov nad Topľou
15400,Vranov nad Topľou,89990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Partial reconstruction,...,NaN,6.0,NaN,1,NaN,1.0,0,3-room apartment,3,Vranov nad Topľou
15401,Vranov nad Topľou,139990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete reconstruction,...,NaN,NaN,3.0,1,NaN,NaN,0,4-room apartment,4,Vranov nad Topľou
15402,Vranov nad Topľou,132000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete reconstruction,...,NaN,NaN,4.0,1,NaN,1.0,0,3-room apartment,3,Vranov nad Topľou

In [44]:
df_2.columns

Index(['name_nsi', 'price', 'index', 'environment', 'quality_of_living',
       'safety', 'transport', 'services', 'relax', 'condition', 'area',
       'energy_costs', 'provision', 'certificate', 'construction_type',
       'orientation', 'year_built', 'last_reconstruction', 'total_floors',
       'floor', 'lift', 'balkonies', 'loggia', 'cellar', 'type', 'rooms',
       'district'],
      dtype='object')

In [52]:
df_2['district'].unique()

array(['Nové Zámky', 'Šaľa', 'Piešťany', 'Senica', 'Bánovce nad Bebravou',
       'Ilava', 'Lučenec', 'Topoľčany', 'Galanta', 'Skalica', 'Trnava',
       'Myjava', 'Nové Mesto nad Váhom', 'Zlaté Moravce', 'Partizánske',
       'Bytča', 'Považská Bystrica', 'Čadca', 'Prievidza', 'Púchov',
       'Bratislava I', 'Bratislava II', 'Trenčín', 'Bratislava III',
       'Bratislava IV', 'Bratislava V', 'Malacky', 'Komárno', 'Pezinok',
       'Senec', 'Levice', 'Dunajská Streda', 'Trebišov', 'Nitra',
       'Hlohovec', 'Vranov nad Topľou', 'Gelnica', 'Brezno', 'Detva',
       'Humenné', 'Košice I', 'Košice II', 'Košice III', 'Košice IV',
       'Košice - okolie', 'Krupina', 'Kežmarok', 'Rimavská Sobota',
       'Levoča', 'Michalovce', 'Dolný Kubín', 'Kysucké Nové Mesto',
       'Poltár', 'Medzilaborce', 'Poprad', 'Bardejov',
       'Liptovský Mikuláš', 'Revúca', 'Prešov', 'Rožňava', 'Martin',
       'Námestovo', 'Banská Bystrica', 'Sabinov', 'Ružomberok',
       'Veľký Krtíš', 'Sobrance', 'Spišská Nová Ves',
       'Turčianske Teplice', 'Snina', 'Stará Ľubovňa', 'Tvrdošín',
       'Žilina', 'Zvolen', 'Žarnovica', 'Žiar nad Hronom', 'Stropkov',
       'Svidník', 'Banská Štiavnica'], dtype=object)

# Data Integration